Repository redis/redis-py, pull requests merged in 2022-06, with the labels that each got.

#2150 SHUTDOWN - add support for the new NOW, FORCE and ABORT modifiers
  redis/commands/core.py
  tests/test_commands.py
Labels: feature, redis-7

#2236 Uppercase commands in CommandsParser.get_keys
  CHANGES
  redis/asyncio/parser.py
Labels: bug, async

#2231 async_cluster: fix simultaneous initialize
  redis/asyncio/cluster.py
  tests/test_asyncio/test_cluster.py
Labels: bug, async, cluster

#2180 Fix retries in async mode
  redis/asyncio/client.py
  redis/asyncio/connection.py
  redis/asyncio/retry.py
  redis/client.py
  redis/connection.py
  tests/test_asyncio/test_retry.py
Labels: bug, async

#2240 DOC add pipeline examples
  docs/examples.rst
  docs/examples/pipeline_examples.ipynb
Labels: maintenance

#2235 Reuse the old nodes' connections when a cluster topology refresh is being done
  CHANGES
  redis/cluster.py
  tests/test_asyncio/test_cluster.py
  tests/test_cluster.py
Labels: maintenance, cluster

#2248 late eval of the skip condition
  tests/conftest.py
  tests/test_asyncio/conftest.py
  tests/test_asyncio/test_timeseries.py
  tests/test_timeseries.py
Labels: maintenance

#2252 Fix `XAUTOCLAIM` to return the full response
  redis/client.py
  tests/test_commands.py
Labels: bug, breakingchange

#2254 Fix backward compatibility from 4.3.2 in Lock.acquire()
  redis/lock.py
Labels: bug, breakingchange
